@font-face{
font-family:"KR";
src:url("../fonts/KRElectrified.ttf");
font-weight: normal;
font-style: normal;
}

.KR1
{
	font-family: 'KR',sans-serif;
	color:#fff;
	text-align:center;
	font-size:120px;
}

.KR2
{
	font-family: 'KR',sans-serif;
	color:#fff;
	text-align:center;
	font-size:50px;
}

@font-face{
font-family:"HV";
src:url("../fonts/high.otf");
font-weight: normal;
font-style: normal;
}

.HV
{
	font-family: 'HV',sans-serif;
	color:#fff;
	text-align:center;
	font-size:90px;
}

.circle-img {
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.reg
{
background: #333333;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}